[Desktop Entry]
Version=1.0
Type=Application
Name=Gdrive-Dropbox Mounter
Exec=bash /root/Documents/gdrive-dropbox-mounter
Icon=/root/Documents/drive-vs-dropbox.jpg
Terminal=true
Categories=Utility;
